pipelines/PL_Raw_To_Landing.json
{
    "name": "PL_Raw_to_Landing",
    "objectId": "c6406fe0-61ed-4ff4-87f1-d910500eed0a",
    "properties": {
        "activities": [
            {
                "name": "Get metadata from raw",
                "type": "GetMetadata",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "fieldList": [
                        "childItems"
                    ],
                    "datasetSettings": {
                        "annotations": [],
                        "linkedService": {
                            "name": "Sales_lh",
                            "properties": {
                                "annotations": [],
                                "type": "Lakehouse",
                                "typeProperties": {
                                    "workspaceId": "5523ca1d-23b4-4a5f-be21-01322d51f258",
                                    "artifactId": "e31347c6-215f-4035-b5e9-ad2342ceffc5",
                                    "rootFolder": "Files"
                                }
                            }
                        },
                        "type": "DelimitedText",
                        "typeProperties": {
                            "location": {
                                "type": "LakehouseLocation",
                                "folderPath": "raw"
                            },
                            "columnDelimiter": ",",
                            "escapeChar": "\\",
                            "firstRowAsHeader": true,
                            "quoteChar": "\""
                        },
                        "schema": []
                    },
                    "storeSettings": {
                        "type": "AzureBlobStorageReadSettings",
                        "recursive": true,
                        "modifiedDatetimeStart": {
                            "value": "@startOfDay(utcNow())",
                            "type": "Expression"
                        },
                        "modifiedDatetimeEnd": {
                            "value": "@utcNow()",
                            "type": "Expression"
                        },
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "DelimitedTextReadSettings"
                    }
                }
            },
            {
                "name": "ForEach",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Get metadata from raw",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Get metadata from raw').output.childItems",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "Raw_to_landing",
                            "type": "TridentNotebook",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "notebookId": "ddd4ef96-2a2c-4c74-a884-c0b1e506f77f",
                                "workspaceId": "5523ca1d-23b4-4a5f-be21-01322d51f258",
                                "parameters": {
                                    "file_name": {
                                        "value": {
                                            "value": "@item().name",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    },
                                    "processed_date": {
                                        "value": {
                                            "value": "@formatDateTime(utcNow(), 'yyyy-MM-dd')",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    ]
                }
            }
        ],
        "lastModifiedByObjectId": "5c8b9eac-bf51-49cc-b47c-a59ec8373d01",
        "lastPublishTime": "2026-03-30T10:17:22Z"
    }
}